<style>
   .message-mail { font-family: Arial, Helvetica, sans-serif; max-width: 600px;
   font-size: 16px; line-height: 22px; text-decoration: none; }
</style>

<div class='message-mail'>
   <h2>Olá {{name}}</h2>
   <br />
   <p>Recebemos uma solicitação de redefinição de senha para este e-mail </p>
   <p>Se foi você quem realmente fez a solicitação, clique no link abaixo para
      redefinir sua senha.</p>
   <p><a href='{{link}}'>Redefinir minha senha</a></p>
   <br />
   <p>Caso você não tenha feito a solicitação, ignore este e-mail.</p>
   <br />
   <p>Obrigado!</p>
   <p>Team Brazuca of the top one.</p>
</div>
